<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.android.ccny.www" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<uses-library android:name="com.google.android.maps" />
		<activity android:name=".CCNY" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".CategoryList" android:label="@string/category_title" />
		<activity android:name=".FavoriteList" android:label="@string/favorites_title" />
		<activity android:name=".FavoriteDetail" android:label="@string/favorites_title" />
		<activity android:name=".AddBusiness" android:label="@string/add_title" />
		<activity android:name=".BusinessList" android:label="@string/businesses_title" />
		<activity android:name=".BusinessDetail" android:label="@string/business_detail" />
		<activity android:name=".AddBusinessNotice" android:label="@string/add_title"
			android:theme="@style/Theme.CustomDialog" />
		<activity android:name=".About" android:label="@string/about_title"
			android:theme="@style/Theme.CustomDialog" />


	</application>
	<uses-sdk android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest> 